[Unit]
Description=Nextcloud17 cron.php job (${appconfig.appconfigid})

[Service]
User=${apache2.uname}
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart nextcloud17@${appconfig.appconfigid}
ExecStart=/usr/bin/php -f ${appconfig.apache2.dir}/cron.php

[Install]
WantedBy=basic.target
