[Unit]
Description=Run Nextcloud 19 cron.php every 15 minutes (%i)

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Unit=nextcloud19@%i.service

[Install]
WantedBy=timers.target
