#
# Copyright (C) 2014 and later, Indie Computing Corp. All rights reserved. License: see package.
#

<Directory "${appconfig.apache2.dir}">
  <IfModule php7_module>
    php_admin_value open_basedir ${appconfig.apache2.dir}:/tmp/:/ubos/tmp:/ubos/share/:/dev:${appconfig.datadir}:/proc/meminfo
  </IfModule>

  <IfModule mod_autoindex.c>
    IndexIgnore *
  </IfModule>

  # Allow .htaccess
  AllowOverride All

  <IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
    Header always set Referrer-Policy "strict-origin-when-cross-origin"
  </IfModule>

  <IfModule mod_dav.c>
   Dav off
  </IfModule>

  <IfModule mod_php7.c>
   # Not yet: see https://github.com/uboslinux/ubos-app-nextcloud/issues/69
   # Also see manifest
   # php_value upload_max_filesize installable.customizationpoints.upload_max_filesize_mb.value M
   # php_value post_max_size installable.customizationpoints.upload_max_filesize_mb.value M
   # php_value memory_limit installable.customizationpoints.memory_limit_mb.value M
   php_value upload_max_filesize 512M
   php_value post_max_size 512M
   php_value memory_limit 512M
  </IfModule>
</Directory>
