<Directory "${appconfig.apache2.dir}">
  <IfModule php7_module>
    php_admin_value open_basedir        ${appconfig.apache2.dir}:/tmp/:/usr/share/:/dev:${appconfig.datadir}
    php_value       post_max_size       1G
    php_value       upload_max_filesize 1G
  </IfModule>
</Directory>
